:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #17212b;
  background-color: #d8dfd5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.circuitDrawing:nth-child(even) {
  background-color: #eef4e9;
}
.hoverDp {
  stroke: red;
}

.mr_lg {
  margin-right: 100px !important;
}

@media (max-width: 700px) {
  .mr_lg {
    margin-right: 0 !important;
  }
}
